= form_for @buyer do |f|
  - if @buyer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@buyer.errors.count, "error")} prohibited this buyer from being saved:"
      %ul
        - @buyer.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :age
    = f.number_field :age
  .actions
    = f.submit 'Save'
